/* Estilos generales para el botón de ayuda */
.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #13967d; /* Color actualizado */
    border: none;
    border-radius: 50%; /* Hace el botón redondo */
    width: 50px; /* Ajusta el tamaño del botón */
    height: 50px; /* Ajusta el tamaño del botón */
    padding: 0; /* Elimina el relleno para mantener la forma redonda */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px; /* Ajusta el tamaño del ícono en el botón */
    cursor: pointer;
    z-index: 1000;
}

/* Estilos para la sección de ayuda */
.help-section {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* Estilos para el contenido de ayuda */
.help-content {
    display: none; /* Oculta el contenido inicialmente */
    position: absolute;
    bottom: 70px; /* Ajusta el espacio según el tamaño del botón */
    right: 0;
    background-color: #0a1e2c; /* Color de fondo actualizado */
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0; /* Comienza oculto */
    transform: translateY(20px); /* Comienza desplazado hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones más largas y suaves */
}

/* Estilos para los iconos de contacto */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los iconos horizontalmente */
}

.contact-icon {
    margin: 10px 0; /* Ajusta el margen entre los íconos */
    color: gray; /* Cambia esto según tus necesidades */
    font-size: 30px; /* Aumenta el tamaño de los íconos */
    transition: color 0.3s ease;
}

.contact-icon:hover {
    color: white; /* Cambia esto según tus necesidades */
}

/* Clase para mostrar el contenido de ayuda */
.help-content.show {
    display: block; /* Asegura que el contenido se muestre */
    opacity: 1; /* Transición de opacidad */
    transform: translateY(0); /* Transición de desplazamiento */
}
